# Assignment 2

**Theoritical Questions**

Q.1 What are data structures, and why are they important?
- Data structures are ways of organizing and storing data in a computer so it can be used efficiently. They are important because they improve performance, enable efficient data access and manipulation, and are essential for writing optimized algorithms and scalable software. Examples include arrays, linked lists, stacks, queues, trees, graphs, and hash tables.

Q.2  Explain the difference between mutable and immutable data types with examples.
- Difference Between Mutable and Immutable Data Types ;

 In programming, particularly in languages like Python, mutable and immutable refer to whether or not an object’s value can be changed after it is created.

- Mutable Data Types

 Mutable data types allow modification of their content after creation. This means you can change, add, or remove elements without changing the identity (memory address) of the object.

 Example:

 List: my_list = [1, 2, 3] → my_list[0] = 10 changes the first element.

 Immutable Data Types :

 Immutable data types do not allow modification of their content once created. Any operation that appears to change the object actually creates a new object.

 Example:

 Integer: x = 5 → x = x + 1 creates a new integer object.


 Q.3 What are the main differences between lists and tuples in Python?

 - Lists and tuples are both sequence data types in Python, but they differ mainly in mutability. Lists are mutable, meaning their contents can be changed after creation, while tuples are immutable and cannot be modified once defined. Lists use square brackets [ ], whereas tuples use parentheses ( ). Tuples are generally faster and use less memory, making them suitable for fixed data.


Q.4 Describe how dictionaries store data?

- Dictionaries in Python store data as key-value pairs within a hash table structure. Each key is hashed using a hash function to determine an index in memory where the corresponding value is stored. This allows for fast access, insertion, and deletion of data. Keys must be unique and immutable, while values can be of any data type. This structure enables efficient lookups based on keys.

Q.5 Why might you use a set instead of a list in Python?

- A set is used when you need to store unique, unordered elements.
It provides faster membership testing than a list.
Sets automatically remove duplicates and use less memory for large data.
They support efficient set operations like union, intersection, and difference.

Q.6 What is a string in Python, and how is it different from a list?

- A string in Python is an immutable sequence of characters used to represent text.
It is defined using quotes, like "hello" or 'world'.
Unlike lists, which can store elements of any data type and are mutable, strings can only store characters and cannot be changed after creation.
Also, strings have special methods for text processing, such as .upper() or .split().

Q.7  How do tuples ensure data integrity in Python?
- Tuples ensure data integrity in Python by being **immutable**, meaning their contents cannot be changed once created. This immutability prevents accidental or intentional modification of data, making tuples ideal for storing fixed, reliable information. Because they cannot be altered, tuples provide a stable and consistent data structure, which helps maintain data integrity throughout a program.

Q.8 What is a hash table, and how does it relate to dictionaries in Python?
- A **hash table** is a data structure that stores data in key-value pairs and uses a **hash function** to compute an index (or hash code) for each key. This index determines where the corresponding value is stored in memory, enabling fast data retrieval.

 In Python, **dictionaries** are implemented using hash tables. When you add a key-value pair to a dictionary, Python hashes the key to quickly locate where the value should be stored or retrieved. This makes dictionary operations like lookup, insertion, and deletion very efficient on average.

Q.9 Can lists contain different data types in Python?
- Yes, lists in Python can contain **different data types** within the same list. For example, a list can hold integers, strings, floats, and even other lists or objects all together, like `[1, "hello", 3.14, [2, 3]]`. This flexibility makes lists very versatile for storing mixed data.




Q.10  Explain why strings are immutable in Python?
- Strings are immutable in Python to ensure **data integrity** and **security**, making them safe to use as keys in dictionaries or elements in sets. Immutability also allows for **efficient memory management** through string interning and enables Python to optimize performance by reusing string objects without unexpected changes. Additionally, immutable strings help avoid bugs caused by accidental modification of text data.

Q.11 What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer several advantages over lists for certain tasks:

1. **Fast lookups:** Dictionaries provide quick access to values using unique keys, while lists require searching through elements.
2. **Key-value pairing:** Dictionaries store data as key-value pairs, making it easy to associate and retrieve related information.
3. **No ordering requirement:** Dictionaries don’t rely on order, which is useful when the position of data isn’t important.
4. **Efficient data organization:** Ideal for cases where you need to map or index data by unique identifiers, unlike lists that use numeric indexes.

Q.12  Describe a scenario where using a tuple would be preferable over a list?
- A tuple is preferable over a list when you need to store **fixed, unchangeable data** that should not be modified throughout the program. For example, representing the coordinates of a point in 2D space as `(x, y)` is ideal with a tuple because the position values shouldn’t change. Tuples also provide faster performance and can be used as dictionary keys, unlike lists.

Q.13 How do sets handle duplicate values in Python?
- Sets in Python **automatically eliminate duplicate values**. When you add elements to a set, only unique items are stored—any duplicates are ignored. This ensures that a set contains **no repeated elements**, making it useful for storing collections of distinct items.

Q.14 How does the “in” keyword work differently for lists and dictionaries?
- The `in` keyword checks for membership but works differently in lists and dictionaries:

* **In lists:** `in` checks if a **value** exists anywhere in the list by scanning through all elements.
* **In dictionaries:** `in` checks if a **key** exists in the dictionary, not the values. This lookup is faster because dictionaries use a hash table.

 So, `x in list` looks for values, while `x in dict` looks for keys.

Q.15 Can you modify the elements of a tuple? Explain why or why not.
- No, you cannot modify the elements of a tuple because tuples are **immutable** in Python. Once a tuple is created, its contents cannot be changed, added to, or removed. This immutability ensures data integrity and allows tuples to be used as reliable keys in dictionaries or elements in sets.

Q.16 What is a nested dictionary, and give an example of its use case?
- A **nested dictionary** is a dictionary in which the values are themselves dictionaries. This structure allows representation of hierarchical or complex data by organizing related information in multiple levels of key-value pairs. Nested dictionaries are useful for modeling real-world data that naturally fits into categories and subcategories, such as storing details of objects with multiple attributes or grouping data by various criteria. This enables efficient storage, retrieval, and management of structured data within a single container.

Q.17  Describe the time complexity of accessing elements in a dictionary.
- Accessing elements in a dictionary has an average time complexity of **O(1)**, meaning it takes constant time regardless of the dictionary’s size. This efficiency is due to the underlying **hash table** implementation, which uses a hash function to directly compute the location of a key-value pair. However, in rare cases of many hash collisions, the time complexity can degrade to **O(n)**, where *n* is the number of items, but such cases are uncommon with a good hash function and proper resizing.


Q.18 P In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries when:

1. **Order matters:** Lists maintain the order of elements, which is important for sequences or when processing items in a specific order.
2. **Index-based access:** You need to access elements by their position (index) rather than by a key.
3. **Simple collections:** When storing a simple collection of items without the need for key-value pairing.
4. **Small datasets:** For small amounts of data where quick lookups aren’t critical, lists can be simpler and more intuitive.

Q.19 Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered because they store key-value pairs based on the hash values of the keys rather than their insertion sequence. This means that the internal arrangement of elements does not follow a predictable order. As a result, when iterating over a dictionary, the order of elements may appear arbitrary and is not guaranteed. However, this unordered nature does not affect data retrieval since dictionaries use hash functions to access values directly by their keys, enabling fast and efficient lookup operations regardless of element order.

Q.20 Explain the difference between a list and a dictionary in terms of data retrieval.
- The main difference between a list and a dictionary in terms of data retrieval lies in **how elements are accessed**:

* **List:** Elements are accessed by their **index position** (an integer), so retrieving data requires knowing the element’s position. Searching for a value by content in a list takes **O(n)** time because it may require checking each element sequentially.

* **Dictionary:** Elements are accessed by **keys**, which can be of various immutable types. Dictionaries use a **hash table** to directly locate values based on keys, allowing for average-case **O(1)** (constant time) retrieval, making lookups much faster than in lists.

#Practical Questions

Q.1 Write a code to create a string with your name and print it.

In [34]:
name = "Rajat Bajaj"
print(name)

Rajat Bajaj

Q.2 Write a code to find the length of the string "Hello World".

In [2]:
text = "Hello World"
length = len(text)
print(length)

11

Q.3 Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
text = "Python Programming"
slice_text = text[:3]
print(slice_text)

Pyt

Q.4 Write a code to convert the string "hello" to uppercase.

In [4]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

Q.5 Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

Q.6 Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Q.7 Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

Q.8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

Q.9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

Q.10  Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

Q.11  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

Q.12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

Q.13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print(minimum)

5

Q.14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
animals = ('dog', 'cat', 'rabbit')
index_cat = animals.index("cat")
print(index_cat)

1

Q.15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [15]:
fruits = ("apple", "banana", "orange")
is_kiwi_present = "kiwi" in fruits
print(is_kiwi_present)

False

Q.16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

Q.17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

Q.18  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [18]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Q.19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

Q.20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

Q.21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [33]:
person = {
    "name": "Rajat",
    "age": 29,
    "city": "Gurgaon"
}
print(person)

{'name': 'Rajat', 'age': 29, 'city': 'Gurgaon'}

Q.22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [23]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q.23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
person = {'name': 'Alice', 'age': 30}
name_value = person["name"]
print(name_value)

Alice

Q.24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [25]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

Q.25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [26]:
person = {'name': 'Alice', 'city': 'Paris'}
has_city = "city" in person
print(has_city)

True

Q.26 Write a code to create a list, a tuple, and a dictionary, and print them all.

In [27]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8}

Q.27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

In [28]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[22, 23, 49, 88, 98]

Q.28 Write a code to create a list with strings and print the element at the third index.

In [29]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

Q.29 Write a code to combine two dictionaries into one and print the result.

In [30]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q.30 Write a code to convert a list of strings into a set.

In [31]:
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)

{'cherry', 'banana', 'apple'}